<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../styles.css" />

    <title>Register Page</title>
  </head>
  <body>
    <div class="flex-container flex-column">
      <div id="warning"></div>
      <form action="" id="register-form">
        <div>
          <label for="username">Username* : </label>
          <input
            type="text"
            id="username"
            placeholder="Username"
            name="username"
            required
          />
        </div>
        <div>
          <label for="password">Password * : </label>
          <input
            type="password"
            id="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div>
          <label for="confirm-password">Confirm Password * : </label>
          <input
            type="password"
            id="confirm-password"
            placeholder="Confirm Password"
            name="confirm-password"
            required
          />
        </div>
        <div>
          <input type="submit" value="Submit" id="register-btn" />
        </div>
      </form>
    </div>

    <script type="text/javascript" src="../handlers/register.js"></script>
    <script type="text/javascript">
      document
        .getElementById('register-form')
        .addEventListener('submit', registerUser);
    </script>
  </body>
</html>
